/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/* Project: Xochi Crocker Art, SRA */
/* Author: Brandon Ortiz */
/* ID: 2018-Obra-AN27 */

body {background-color: black;}

.canvas {

}

#painting {        
    content: url("../assets/artwork.gif");
    position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
    width: 100%;
    z-index: 3;
}
	
#butterfly {
    content: url("../assets/butterfly.png");
    position: absolute;
    top: 900px;
    left: 20px;
    z-index: 4;
    width: 150px;
}

#pupil-l {   
    content: url("../assets/pupil-l.png"); 
    top:407px;
    left:192px;
    position:absolute; 
    width:25px;
    height: auto;
    z-index: 2;
}

#pupil-r {    
    content: url("../assets/pupil-r.png");
    top:417px;
    left:260px;
    position:absolute; 
    width:12px;
    height: auto;
    z-index: 2;
}

#eyes {    
    content: url("../assets/eyes.png");
    top:405px;
    left:180px;
    position:absolute; 
    width:110px;
    height: auto;
    z-index: 1;
}

.feature {
    display:none;
}

.callout {
    display:none;
}

#o1 {    
    content: url("../assets/static/ballerina.png");
    top:785px;
    left:290px;    
    position:absolute;   
    z-index: 4;
    width: 105px;
    height: auto;
}

#o2 {    
    content: url("../assets/static/child.png");
    top:800px;
    left:435px;    
    position:absolute;   
    z-index: 4;
    width: 130px;
    height: auto;
}

#o3 {    
    content: url("../assets/static/soaring.png");
    top:185px;
    left:245px;    
    position:absolute;   
    z-index: 4;
    width: 410px;
    height: auto;
}

#o4 {    
    content: url("../assets/static/fiddler.png");
    top:610px;
    left:530px;    
    position:absolute;   
    z-index: 4;
    width: 90px;
    height: auto;
}

#o5 {    
    content: url("../assets/static/humming.png");
    top:185px;
    left:20px;    
    position:absolute;   
    z-index: 4;
    width: 200px;
    height: auto;
}

#f1 {    
    content: url("../assets/ballerina.gif");
    top:770px;
    left:255px;    
    position:absolute;   
    display:none;
    z-index: 4;
    width: 175px;
    height: auto;
}

#f2 {    
    content: url("../assets/child.gif");
    top:805px;
    left:371px;       
    position:absolute;   
    display:none;
    z-index: 4;
    width:275px;
    height: auto;
}

#f3 {    
    content: url("../assets/soaring.gif");
    top:266px;
    left:196px;       
    position:absolute;   
    display:none;
    z-index: 4;
    width: 460px;
    height: auto;
}

#f4 {    
    content: url("../assets/fiddler.gif");
    top:615px;
    left:475px;       
    position:absolute;   
    display:none;
    z-index: 4;
    width: 150px;
    height: auto;
}

#f5 {    
    content: url("../assets/humming.gif");
    top:125px;
    left:-50px;       
    position:absolute;   
    display:none;
    z-index: 4;
    width: 325px;
    height: auto;
}

#infobox { 
    padding: 5px 5px 5px 5px;
    top:660px;
    left:100px;
    font-size: 12px;
    width: 175px;
    color: white;
    border-radius: 10px;    
    background-color:rgb(0,0,0,.5);
    text-shadow: 1px 0 0 black, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black;
    position:absolute;
    z-index: 4;
}

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: auto;
    min-height: 100vh;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
